.strokeGrad{
    background-position: initial;
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-color: transparent;
    background-clip: content-box, border-box;
    border: none;
}

img,canvas{
    max-width: 100%;
    height: auto;
}

.invisible{
    visibility: hidden;
}

.body{
    overflow-x: hidden;
}